executor: "KubernetesExecutor"

# Images
images:
  airflow:
    repository: my-dags
    tag: ~
    # Specifying digest takes precedence over tag.
    digest: ~
    pullPolicy: IfNotPresent

postgresql:
  enabled: true
  auth:
    username: airflow
    password: airflow
    database: airflow

  primary:
    persistence:
      enabled: false

  image:
    tag: latest

dags:
  gitSync:
    enabled: true

    # git repo clone url
    # ssh example: git@github.com:apache/airflow.git
    # https example: https://github.com/apache/airflow.git
    repo: 
    branch: main
    rev: HEAD
    # The git revision (branch, tag, or hash) to check out, v4 only
    ref: main
    depth: 1
    # the number of consecutive failures allowed before aborting
    maxFailures: 0
    subPath: "dags"